<h3 class="categoryHeading">Current Stats <fa-icon [icon]="chart"></fa-icon></h3> 
<div class= "statsContainer">
        <div class="stats">
            <p>manufacturer: {{stats.manufacturer}}</p>
            <p>brand: {{stats.brand}}</p>
            <p>vendor: {{stats.vendor}}</p>
            <p>model: {{stats.model}}</p>
            <p>cores: {{stats.cores}}</p>
            <p>family: {{stats.family}}</p>
            <p>flags: {{stats.flags}}</p>
            <p>physicalCores: {{stats.physicalCores}}</p>
        </div>
        
        <div class="stats">
            <p>processors: {{stats.processors}}</p>
            <p>socket: {{stats.socket}}</p>
            <p>speed: {{stats.speed}}</p>
            <p>speedMax: {{stats.speedMax}}</p>
            <p>speedMin: {{stats.speedMin}}</p>
            <p>stepping: {{stats.stepping}}</p>
            <p>virtualization:{{stats.virtualization}}</p>
        </div>



</div>
