<h3>Progression</h3>
<div class="progressionContainer">
    <div class="progression">
        <h3>current stats</h3>
        <p>l1d: {{stats.cache.l1d}}</p>
        <p>l1i: {{stats.cache.l1i}}</p>
        <p>l2: {{stats.cache.l2}}</p>
        <p>l3: {{stats.cache.l3}}</p>
    </div>

    <div class="progression">
        <h3>previous stats</h3>
        <p>l1d: {{oldStats.cache.l1d}}</p>
        <p>l1i: {{oldStats.cache.l1i}}</p>
        <p>l2: {{oldStats.cache.l2}}</p>
        <p>l3: {{oldStats.cache.l3}}</p>
    </div>

</div>